@use "../../../styles/mixins.scss";
@use "../../../styles/palette.scss";
@use "../../../styles/breakpoints.scss";

.container {
  @include mixins.stack;
  gap: 50px;
  width: 450px;
  max-width: 100%;

  @include breakpoints.base {
    @include mixins.mx(auto);
  }
  @include breakpoints.lg {
    @include mixins.mx(unset);
  }

  & > div {
    @include mixins.stack;
    gap: 20px;
  }
  h1 {
    color: palette.$secondary;
  }
  .textBtn {
    font-size: 0.8rem;
    color: palette.$primary;
    font-weight: 600;
  }
}
