@use "../../styles/palette.scss" as palette;
@use "../../styles/mixins.scss" as mixins;

.button {
  color: white;
  background-color: palette.$primary;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  @include mixins.py(12px);
  @include mixins.px(20px);
  @include mixins.flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.9rem;

  &.full-width {
    width: 100%;
  }
}
