@use "./palette.scss" as palette;
@import url("/assets/fonts/avenir-next/stylesheet.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: unset;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-family: "Work Sans", serif;
  color: palette.$text;
  &.auth {
    font-family: "Avenir Next LT Pro";
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: palette.$primary;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
