@use "../../styles/breakpoints.scss" as breakpoints;
@use "../../styles/mixins.scss" as mixins;

.container {
  @include mixins.stack;
  min-height: 100vh;
  width: 100%;
  gap: 50px;
  @include breakpoints.base {
    padding: 20px;
  }
  @include breakpoints.md {
    padding: 20px 50px;
  }
  @include breakpoints.lg {
    padding: 50px;
  }
  @include breakpoints.xl {
    padding: 50px 100px;
  }

  .flexbox {
    @include mixins.flex {
      gap: 50px;
      @include mixins.my(auto);
      justify-content: space-between;
      img {
        $w: 600px;
        $h: 338px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include breakpoints.base {
        flex-direction: column-reverse;
      }
      @include breakpoints.lg {
        flex-direction: row;
      }
  }
}
